.img1
{
    width: 400px;
    height: 260px;
    padding-bottom: 7px;
}

.img2
{
    width: 150px;
    height: 100px;
}

.img3
{
    width: 120px;
    height: 85px;
    
}

.imgheader1
{
    padding-left: 75px;
    /*width: 30px;*/
    height: 85px;
}

.imgheader2
{
    /*width: 30px;*/
    height: 85px;
}

.img0
{
    width: 30px;
}

.menu-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a #userbutton
{
    text-decoration: none;
    color: #00BFFF;   
    font-weight: bold;
}

a
{
    text-decoration: none;
}

.register-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    padding-right: 75px;
}

.menu-button, .register-button, .website-button
{
    margin-left:-35px;
    margin-right:-35px;
}

.website-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-right: 75px;
    text-align: left;
}



.container2
{
   border-bottom:10px solid #00BFFF;
   
}

h2 {
    font-size: 20px;
    overflow: hidden;
    max-width: 400px;
}
.minititre
{
    background-color: #00BFFF;
    color: white;
    text-align: center;    
}

.minititreright
{
    background-color: #00BFFF;
    color: white;
    text-align: center;
    padding:2px;
    
}

.articlesprincipaux
{
    background-color: #F5F5F5;
    border-top: 50px solid white;
    margin: 40px
}

.container
{
    padding: 15px;
}

h3
{ 
    font-size: medium;
    text-align: left;
    max-width: 400px;
}


h4
{
    font-size: small;

}

.articlesright
{
  overflow: hidden;
  padding-bottom: 10px;
  
}

.articlesright img
{
  /*float: left;*/
  margin-right: 10px;
  
}

.custom-column
{
    /*margin-right: -25px;
    margin-left: -25px;*/
}

.articles2
{
  overflow: hidden;
  padding-bottom: 10px;
  
}

.articles2 img
{
  float: left;
  margin-right: 10px;

  
}

.container3
{
    border-top: 35px solid white;
    background-color: #06ace5;
  
}

.imgfooter1
{
    padding-left: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30px;
    height: 85px;
}

.lien-france24
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 75px;
    margin-top: 50px;
    margin-bottom: 30px;
    color:black;
}

.imgfooter2
{
    padding-left: 160px;
}

.imgfooter2, .imgfooter3, .imgfooter4
{
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.articleprincipal
{
    background-color: #F5F5F5;
}

.titreprincipal
{
    padding: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.imgarticle1
{
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
}

.articleprincipal h2
{
    padding-bottom: 20px;
    padding-top: 20px;
}

.italique
{
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.registerpage
{
    background-color: #F5F5F5;
    border-top: 40px solid white;
    margin-left: 50px;
    margin-right: 70px;

}

.input1
{
    padding-bottom:10px;
    
}

#prefixe
{
    width: 55px;
    height: 30px;   
}

#genre
{
    padding-right: 5px;
}

#input0
{
    width: 247px;
    height: 30px;
}

.column-user
{
    margin-right: -30px;
    margin-left: 0;
}

.info-logo img
{
  float: left;
  margin-right: 10px;
}

#infologo
{
    width: 40px;
    height: 40px;
}

.titreinfo
{
    padding-top:15px;
    font-weight: bold;
    color: #00BFFF;
}

.img01
{
    width: 50px;
}

.redodata
{
    margin-left: -200px
}

.erasedata
{
    margin-left: 198px;
}


