
body
{
    font-family:Garamond;
    font-size: medium;
    /* font-size:10px; */
    width:26.2cm;
    background-color:lightyellow;
}

div#txt
{
    float:right;
    width:5cm;
    background-color: red;
}

h1
{
    font-family:Arial;
    font-size:large;
    text-align:center;
}

div.button_bar
{
    background-color:Cornsilk ;
}

div.search_bar
{
    text-align:right;
    background-color:Cornsilk ;
}


div.login
{
    float:right;
    /* background-color:white; */
}

div.produit
{
    background-color:white;
    border:blue 2px solid;
    width:6cm;
    height:5.5cm;
    float:left;
    margin:1mm;
    padding:1mm;
    /* overflow-y:scroll;  */
}

div.produit div.formule
{
    font-weight:bold;
}

div.produit ul li
{
}

div.produit .prix
{
    background-color:lightgreen;
}

div.produit .activation
{
    background-color:yellow;
}

div.produit .in_basket
{
    /* background-color:plum; */
    color:DarkMagenta;
    font-weight:bold;
}

div.recap table
{
    border:blue 1px solid;
    margin:2px;
    padding:2px;
}

div.recap td
{
    background-color:whitesmoke;
    margin:0px;
    padding:2px;
    border: 1px 0;
    border-color:blue;
}

div.recap td.total ,
div.recap th.total
{
    border-top: blue 2px solid;
    border-bottom: blue 2px solid;
    margin:2px;
    padding:2px;
    font-weight:bold;
}

div.recap td.prix
{
    font-family: Courier, proportional ;
    text-align: right;
}
